.FormControl {
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

.Label {
  width: 100%;
  font-size: 24px;
  display: block;
  text-transform: capitalize;
  text-align: left;
  padding-bottom: 10px;
}

.Label::after {
  content: ':';
}

.Input,
.Textarea  {
  display: block;
  width: 100%;
  height: 24px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  height: auto;
}

.Textarea {
  resize: none;
}

.Input:focus,
.Textarea:focus {
  box-shadow: 0px 0px 1px 1px #37e2e2b0;
}

.FormControl.Error .Input {
  box-shadow: 0px 0px 1px 1px var(--error-1);
}

.Text {
  color: transparent;
  display: block;
  padding: 2px 0;
}

.ErrorText {
  color: var(--error-1);
  display: block;
  padding: 2px 0;
}
