.Button {
  display: block;
  border: none;
  border: 2px solid #ccc;
  background: transparent;
  color: #ccc;
  transition: .4s;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.Button.Primary {
  color: var(--basic-color-1);
  border-color: var(--basic-color-1);
}

.Button.Primary:hover {
  background: var(--basic-color-1);
  color: white;
}

.Button.Danger {
  color: var(--error-1);
  border-color: var(--error-1);
}

.Button.Success {
  color: var(--success-1);
  border-color: var(--success-1);
}

.Button.Warn {
  color: var(--warn-1);
  border-color: var(--warn-1);
}

.Button.Danger:hover {
  background: var(--error-1);
  color: white;
}

.Button.Success:hover {
  background: var(--success-1);
  color: white;
}

.Button.Warn:hover {
  background: var(--warn-1);
  color: white;
}

.Button.InlinePrimary {
  display: inline;
  border: none;
  color: var(--basic-color-1);
  text-align: left;
  padding: 0;
}

.Button.InlinePrimary:hover {
  color: black;
}
